<!DOCTYPE html>
<html>
  <head>
    <title>Docoffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |e| %>
        <li style="color: red;">
          <%= e %>
        </li>
      <% end %>
    </ul>
    <% end %>

    <%=  link_to "log out", logout_path, method: "post" %>

    <%= session[:user_id] ? session[:user_id] : 'no user' %>
    <%= yield %>
  </body>
</html>
