<h1>Edit Dog</h1>

<a href="/dogs/<%= @dog.id %>">Go back</a>

<hr>

<form action="/dogs/<%= @dog.id %>" method="POST">
  <input type="hidden" name="_method" value="patch" />
  <div>
    <label for="">name:</label>
    <input type="text" name="dog[name]" value="<%= @dog.name %>" />
  </div>
  <div>
    <label for="">age:</label>
    <input type="text" name="dog[age]" value="<%= @dog.age %>" />
  </div>
  <hr>
  <p>Choose toys:</p>
  <% @toys.each do |toy| %>
    <input
     type="checkbox"
     id="toy-<%= toy.id %>"
     name="dog[toy_ids][]"
     value="<%= toy.id %>"

     <% if @dog.toys.include?(toy) %>
       checked
     <% end %>

    >
    <label for="toy-<%= toy.id %>">
      <%= toy.name %>
    </label>
  <% end %>

  <hr>

  <input type="submit" value="Edit Dog" />
</form>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input id="mysubmit" type="submit" value="Delete Dog" />
</form>
