<%= form_for @doctor do |f| %>
  <span>👩‍⚕️👨‍⚕️🏥</span>
  <hr>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <hr>

  <%= f.label :specialty %>
  <%= f.text_field :specialty %>

  <%= f.collection_check_boxes :pill_ids, @pills, :id, :name %>

  <br>

  <%= f.submit %>

  <hr>
<% end %>
